.hero {
  height: 400px;
  background: linear-gradient(to right, #ff3f6c, #ff9068);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.hero h1 {
  font-size: 55px;
}

.hero button {
  width: 160px;
  padding: 12px;
  border: none;
  background: white;
  color: #ff3f6c;
  font-weight: bold;
  cursor: pointer;
}